.category_products{
    display: grid;
    grid-template-columns: repeat(5, 250px);
    grid-template-rows: repeat(1, 350px);
    column-gap: 15px;
    justify-content: center;
}
.product{
    border: 1px solid black;
    border-radius: 15px;
    overflow: hidden;
    display: flex;
    align-items: center;

    flex-direction: column;
}

.product > img{
    height: 80%;
    width: auto;
}