footer{
    width: 100%;
    height: max-content;
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-around;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
}
.footer_title{
    font-size: 1.2em;
    font-family: "Jacques Francois", serif;
    font-weight: 500;
    font-style: normal;
}
.footer_block{
    width: 25%;
    display: flex;
    flex-direction: column;
    padding: 40px;
    gap: 5px;
}
#footer_description_title{
    display: flex;
    align-items: center;
}
#footer_description_title > img{
    height: 16px;
}

.footer_nav_button{
    background-color: black;
    color: white;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    border: none;
    display: flex;
    font-size: 1em;
    width: max-content;
    cursor: pointer;
    margin: 0;
    padding: 0;
}

.footer_information_block{
    display:flex;
    flex-direction: column;
}