body{
    margin: 0;
    padding: 0;
}
ul{
    padding-left: 0;
}
li{
    list-style-type: none;
}
main{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    bottom: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}