.category_products{
    display: grid;
    grid-template-columns: repeat(5, 250px);
    grid-template-rows: repeat(1, 350px);
    column-gap: 15px;
    justify-content: center;
}

.product_image_wrap{
    height: 250px;
    width: 250px;
    border: 1px solid black;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.productImage{
    height: 250px;
}

.category{
    display: flex;
    flex-direction: column;
    width: max-content;

}
.product{
    display: flex;
    flex-direction: column;
    gap: 8px;
    
}
.productTitle{
    font-size: 1.5rem;
}
.productPrice{
    font-size: 1.2rem;
}
#catalog_grid{
    padding: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}