.category_products{
    display: grid;
    grid-template-columns: repeat(5, 250px);
    grid-template-rows: repeat(1, 350px);
    column-gap: 15px;
    justify-content: center;
    font-family: "Jacques Francois", serif;
    font-weight: 400;
    font-style: normal;
    cursor: pointer;
}

.product_image_wrap{
    height: 250px;
    width: 250px;
    border: 1px solid black;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.productImage{
    height: 230px;
}

.category{
    display: flex;
    flex-direction: column;
    width: max-content;
    align-items: center;
}
.category_title{
    font-size: 3em;
    font-family: "Jacques Francois", serif;
    font-weight: 400;
    font-style: normal;
    cursor: pointer;
}

.product{
    display: flex;
    flex-direction: column;
    gap: 8px;
    
}
.productTitle{
    font-size: 1.8rem;
}
.productPrice{
    font-size: 1.5rem;
}
#catalog_grid{
    padding: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
